@model SevenPeaks.VTS.Common.Models.PagedResults<SevenPeaks.VTS.Application.Vehicle.Queries.GetVehicles.GetVehiclesModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Vehicles</h2>
 
<div class="block">
     <br/>
         <br/>
    <a asp-action="Create" class="btn btn-primary">Create Vehicle</a>  
     <br/>
         <br/>
</div>
 
 @using (Html.BeginForm("Index", "VehiclePositions", FormMethod.Get))
     {
         <span>Plate Number:</span> @Html.TextBox("plateNumber")
         <input type="submit" value="Search"/>
         <br/>
         <br/>
         <div class="att-card">
         
                 <table class="table">
                     <thead>
                         <tr>
         
                             <th>
                                Year
                             </th>
                             <th>
                                 Model
                             </th>
                             <th>
                                 Name
                             </th> <th>
                                 Plate Number
                             </th> <th>
                                 DeviceCode
                             </th>
         
                             <th></th>
                         </tr>
                     </thead>
                     <tbody>
                         @foreach (var item in Model.Results)
                         {
                             <tr>
         
                                 <td>
                                     <label>
                                         @Html.DisplayFor(modelItem => item.Year)
                                     </label>
                                 </td>
                                 <td>
                                     <label>
                                         @Html.DisplayFor(modelItem => item.Model)
                                     </label>
                                 </td>
                                 
                                 <td>
                                     @Html.DisplayFor(modelItem => item.Name)
                                 </td>
                                 <td>
                                     @Html.DisplayFor(modelItem => item.PlateNumber)
                                 </td>
                                 <td>
                                     @Html.DisplayFor(modelItem => item.DeviceId)
                                 </td>
         
         
                                 <td>
                                     <a asp-action="Positions" asp-route-plateNumber="@item.PlateNumber">View Positions</a>  |||
                                     <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>  
                                 </td>
                             </tr>
                         }
                     </tbody>
                 </table>
                 
             </div>
     }


 
<ul class="pagination">
    <li class="page-item">
        @if(Model?.PrevPageUrl != null)
{
    <a class="page-link" href="@Model.PrevPageUrl">@(Model.PageNumber-1)</a>
}
else
{
   <label class="page-link">-</label>
}
          
            @* <a class="page-link" href="@Url.Action("Positions", new { page = i, plateNumber = @Context.Request.Query["plateNumber"]})">@i</a> *@
        </li>
         <li class="page-item active">
            <label class="page-link">@(Model.PageNumber)</label>
            @* <a class="page-link" href="@Url.Action("Positions", new { page = i, plateNumber = @Context.Request.Query["plateNumber"]})">@i</a> *@
        </li>
         <li class="page-item">
            
                    @if(Model?.NextPageUrl != null)
{
    <a class="page-link" href="@Model.NextPageUrl">@(Model.PageNumber+1)</a>
}
else
{
   <label class="page-link">-</label>
}
            @* <a class="page-link" href="@Url.Action("Positions", new { page = i, plateNumber = @Context.Request.Query["plateNumber"]})">@i</a> *@
        </li>
</ul>
</ul>

