@using System.Web
@model SevenPeaks.VTS.Common.Models.PagedResults<SevenPeaks.VTS.Application.VehiclePosition.Queries.GetVehiclePositions.GetVehiclePositionsModel>

@{
    var date = DateTime.Now;
    ViewBag.Title = "title";
    Layout = "_Layout";
    var last = ViewBag.Last as SevenPeaks.VTS.Application.VehiclePosition.Queries.GetVehiclePositions.GetVehiclePositionsModel?? new SevenPeaks.VTS.Application.VehiclePosition.Queries.GetVehiclePositions.GetVehiclePositionsModel();
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap" async defer></script>
    <script type="text/javascript">
  function initMap() {
      
    //map..
    var map = new google.maps.Map(document.getElementById('dvMap'), {
        center: {
            lat: @last.Latitude,
            lng: @last.Longitude
        },
        zoom: 15
    });
    //marker..
    var marker = new google.maps.Marker({
        position: {
             lat: @last.Latitude,
             lng: @last.Longitude
        },
        map: map,
        draggable: true
    });
        
            //dragend event of marker
google.maps.event.addListener(marker,'dragend', function () {
    var Lats = marker.getPosition().lat();
    var Longs = marker.getPosition().lng();

    $('#Lat').val(Lats);
    $('#Long').val(Longs);

});
}
        </script>
      
}

<h2>Vehicle Positions</h2>
<div class="text-center">
    <div id="dvMap" style="height:250px;"></div>
    @if ((ViewBag.Last) != null)
    {
        <h3>Current Position</h3>
        <h4 class="display-6">

            @if (last != null)
            {

                <table style="text-align: left">
                    <tr>
                        <th class="small text-muted pr-2" scope="row">Longitude</th>
                        <td>@last.Longitude </td>
                    </tr>
                    <tr>
                        <th class="small text-muted pr-2" scope="row">Latitude</th>
                        <td>@last.Latitude</td>
                    </tr>
                    <tr>
                        <th class="small text-muted pr-2" scope="row">Date</th>
                        <td> @last.DateCreated.ToString("f")</td>
                    </tr>
                </table>
            }
        </h4>
        <p> View on Map</p>
    }

</div>
 <form name="positionForm" id="positionForm" action="Positions?@ViewBag.QueryStrings" method="get">
    
    
    <div class="row">  
           <input type="hidden" name="plateNumber" id="plateNumber" value="@Context.Request.Query["plateNumber"]">
            <div class="col-sm-10">  
            <div class="col-sm-4">  
                <label>From Date</label>
                <input type="datetime-local" id="dateFrom" name="dateFrom" class="form-control" placeholder="Select Date" />  
            </div>  
            
            <div class="col-sm-2"></div>  
            <div class="col-sm-4">  
             <label>To Date</label>
                <input type="datetime-local" id="dateTo" name="dateTo" class="form-control" placeholder="Select Date" />  
            </div>  
            <div class="col-sm-2">  
                <br />  
                <input type="submit" value="Seach" class="btn btn-primary form-control" />  
            </div>  
            <br />
        </div>  
        </div>  
         
         <div class="att-card">
         
                 <table class="table">
                     <thead>
                         <tr>
         
                             <th>
                                Longitude
                             </th>
                             <th>
                                 Latitude
                             </th>
                             <th>
                                 Date
                             </th>  
                             <th></th>
                         </tr>
                     </thead>
                     <tbody>
                         @foreach (var item in Model.Results)
                         {
                             <tr>
         
                                 <td>
                                     <label>
                                         @Html.DisplayFor(modelItem => item.Longitude)
                                     </label>
                                 </td>
                                 <td>
                                     <label>
                                         @Html.DisplayFor(modelItem => item.Latitude)
                                     </label>
                                 </td>
                                 
                                 <td>
                                     @item.DateCreated.ToString("F")
                                 </td>
         
                                 <td>
                                     <a asp-action="Edit" asp-route-id="@item.Id">View on map</a> 
                                     
                                 </td>
                             </tr>
                         }
                     </tbody>
                 </table>
                 
             </div>
 </form>


 
<ul class="pagination">
    <li class="page-item">
        @if(Model?.PrevPageUrl != null)
{
    <a class="page-link" href="@Model.PrevPageUrl">@(Model.PageNumber-1)</a>
}
else
{
   <label class="page-link">-</label>
}
          
            @* <a class="page-link" href="@Url.Action("Positions", new { page = i, plateNumber = @Context.Request.Query["plateNumber"]})">@i</a> *@
        </li>
         <li class="page-item active">
            <label class="page-link">@(Model.PageNumber)</label>
            @* <a class="page-link" href="@Url.Action("Positions", new { page = i, plateNumber = @Context.Request.Query["plateNumber"]})">@i</a> *@
        </li>
         <li class="page-item">
            
                    @if(Model?.NextPageUrl != null)
{
    <a class="page-link" href="@Model.NextPageUrl">@(Model.PageNumber+1)</a>
}
else
{
   <label class="page-link">-</label>
}
            @* <a class="page-link" href="@Url.Action("Positions", new { page = i, plateNumber = @Context.Request.Query["plateNumber"]})">@i</a> *@
        </li>
</ul>

